<header>
  <h1><p>Use this website for getting back to CS Basics - csbasics.com</p></h1>
  <p>This page is: {{pageTitle}}</p>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
</header>
