<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>This is Node.JS Demo Website - csbasics.com</title>
</head>
  <body>
    {{> headerPartialTemplate}}
    <p>Some About page text here!!!!</p>
    {{> footerPartialTemplate}}
</body>
</html>
